DJANGO_SECRET_KEY=troque-esta-chave
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost


DB_ENGINE=sqlite

DB_NAME=ifeed
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=ifeed@ifrn.edu.br
