DJANGO_SECRET_KEY=troque-esta-chave
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Para testar rápido, deixe sqlite. Para usar MySQL, altere para mysql.
DB_ENGINE=sqlite

# Configuração usada somente se DB_ENGINE=mysql
DB_NAME=ifeed
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=ifeed@ifrn.edu.br
